<style>
    :host {
        display: flex;
        justify-content: center;
        background-color: rgba(0,0,0,0.2);
    }

    #container {
        width: 1120px;
        min-height: 480px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 64px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    #container #content {
        flex: 1;
        flex-direction: column;
        align-items: center;
    }

    #container #content #title {
        align-self: stretch;
        display: flex;
        justify-content: flex-end;
        height: 48px;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        border-bottom: 2px solid #363636;
        margin-bottom: 32px;
    }

    #container #content #list {
        align-self: stretch;
        color: #fff;
        font-size: 18px;
    }

    #container #content ul {
        list-style-type: disc;
    }

    #container #content ul li {
        line-height: 36px;
        font-weight: 100;
    }

    #container #img {
        width: 430px;
        height: 430px;
        border-radius: 128px;
        border-top-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
</style>

<div id="container">

    <!-- 图片 -->
    <x-image id="img" object-fit="cover"></x-image>

    <!-- 文本 -->
    <div id="content">
        <div id="title">3D Print Compatibility</div>
        <ul id="list">
            <li>The guarantee of smoothness in the manifold</li>
            <li>Perfectly printable</li>
            <li>Perfect geometric compatibility</li>
        </ul>
    </div>

</div>
