<style>
    :host {
        position: relative;
        display: flex;
        width: 100px;
        height: 60px;
    }

    #container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    #container #thumb {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        filter: brightness(70%);
        border-radius: 2px;
        overflow: hidden;
        pointer-events: auto;
        transition: transform 100ms, filter 300ms;
    }

    #container #thumb:hover {
        filter: brightness(100%);
    }

    #container #thumb:active:hover {
        transform: scale(0.98);
    }
</style>

<div id="container">

    <!-- 微缩图 -->
    <x-image id="thumb" object-fit="cover"></x-image>

</div>
